
#header .logo {
  font-size: 90px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 70px;
}

.logo-img{
  font-size: 90px;
  height: 30px;
  width: 30px;
}
