 <!-- <div >
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" >
	<ngb-panel title="What types of IT services do you provide?">
		<ng-template ngbPanelContent>
      We provide a range of IT services, including software
      development, web design and development, mobile app
      development, cloud computing, cybersecurity, data management
      and analytics, and IT consulting. Our services are tailored
      to meet the specific needs of each client.
		</ng-template>
	</ngb-panel>

  <ngb-panel title="<mdb-accordion-item class="ng-accordian">
        <ng-template mdbAccordionItemHeader>What types of IT services do you provide?</ng-template>
        <ng-template mdbAccordionItemBody>
          We provide a range of IT services, including software
          development, web design and development, mobile app
          development, cloud computing, cybersecurity, data management
          and analytics, and IT consulting. Our services are tailored
          to meet the specific needs of each client.
        </ng-template>
      </mdb-accordion-item>">
		<ng-template ngbPanelContent>
      The cost of our IT services varies based on the scope of the
      project and the level of service required. We offer flexible
      pricing options that can be customized to meet the budget
      constraints of each client. Please contact us to get a
      personalized quote for your project.
		</ng-template>
	</ngb-panel>

  <ngb-panel title="How do I get started with your IT services?">
		<ng-template ngbPanelContent>
      To get started, simply contact us to discuss your IT needs
      and schedule a consultation with one of our experts. During
      the consultation, we will discuss your requirements and
      provide you with a customized solution and a quote for the
      services.
		</ng-template>
	</ngb-panel>

  <ngb-panel title="What is your company's experience with similar projects like
  ours?">
		<ng-template ngbPanelContent>
      We have extensive experience in providing IT services to a
      wide range of clients across different industries. Our team
      of experts has worked on numerous similar projects, and we
      can provide you with case studies and references upon
      request.
		</ng-template>
	</ngb-panel>

  <ngb-panel title="What are your service level agreements (SLAs)?">
		<ng-template ngbPanelContent>
      Our service level agreements (SLAs) vary based on the type
      of service and the level of support required. We strive to
      provide timely and effective support to our clients, and we
      offer SLAs that guarantee a certain level of response time
      and resolution time. Please contact us to learn more about
      our SLAs.
		</ng-template>
	</ngb-panel>

</ngb-accordion>



</div>-->

<div class="text-center">
  <h1>Here are some Frequently asked questions</h1>
</div>


  <mdb-accordion >
      <mdb-accordion-item class="ng-accordian">
        <ng-template mdbAccordionItemHeader>What types of IT services do you provide?</ng-template>
        <ng-template mdbAccordionItemBody>
          We provide a range of IT services, including software
          development, web design and development, mobile app
          development, cloud computing, cybersecurity, data management
          and analytics, and IT consulting. Our services are tailored
          to meet the specific needs of each client.
        </ng-template>
      </mdb-accordion-item>

      <mdb-accordion-item class="ng-accordian">
        <ng-template mdbAccordionItemHeader>How do I get started with your IT services?</ng-template>
        <ng-template mdbAccordionItemBody>
          To get started, simply contact us to discuss your IT needs
      and schedule a consultation with one of our experts. During
      the consultation, we will discuss your requirements and
      provide you with a customized solution and a quote for the
      services.
        </ng-template>
      </mdb-accordion-item>

      <mdb-accordion-item class="ng-accordian">
        <ng-template mdbAccordionItemHeader>
          What is your company's experience with similar projects like
            ours?</ng-template>
        <ng-template mdbAccordionItemBody>
          We have extensive experience in providing IT services to a
          wide range of clients across different industries. Our team
          of experts has worked on numerous similar projects, and we
          can provide you with case studies and references upon
          request.
        </ng-template>
      </mdb-accordion-item>

      <mdb-accordion-item class="ng-accordian">
        <ng-template mdbAccordionItemHeader>
          What are your service level agreements (SLAs)?</ng-template>
        <ng-template mdbAccordionItemBody>
          Our service level agreements (SLAs) vary based on the type
          of service and the level of support required. We strive to
          provide timely and effective support to our clients, and we
          offer SLAs that guarantee a certain level of response time
          and resolution time. Please contact us to learn more about
          our SLAs.
        </ng-template>
      </mdb-accordion-item>

</mdb-accordion>





