 <!-- ======= Counts Section ======= -->
 <section id="counts" class="counts section-bg">
  <div class="container">
    <div class="row counters">
      <div class="col-lg-3 col-6 text-center">
        <div class="counter123" >

          <ngx-animated-counter [params]="params">jh+</ngx-animated-counter>
          <h2>+</h2>
        </div><p>Satisfied Clients</p>
      </div>

      <div class="col-lg-3 col-6 text-center">

        <!-- <animated-digit [digit]="85" [duration]="1000"></animated-digit> -->

        <div class="counter123" >

          <ngx-animated-counter [params]="params2">jh+</ngx-animated-counter>
          <h2>+</h2>
        </div>

        <p>Projects Completed</p>
      </div>

      <div class="col-lg-3 col-6 text-center">

        <div class="counter123" >

          <ngx-animated-counter [params]="params3">jh+</ngx-animated-counter>
          <h2>+</h2>
        </div>
       <p>Hours Of Support</p>
      </div>

      <div class="col-lg-3 col-6 text-center">
        <div class="counter123" >

          <ngx-animated-counter [params]="params4">jh+</ngx-animated-counter>
          <h2>+</h2>
        </div>
        <p>Diligent Worker</p>
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
